<!DOCTYPE html>
{% extends 'Dictionary/base.html' %}
{% load staticfiles %}
{% block body_block %}
		<div style="margin-top: 100px">
			<h1>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</h1>
		</div>
	<h1>Welcome to Slang Dictionary</h1>
	<h2>{{ insert_me }}</h2>
	<br><a href="{% url 'index' %}">Click to be see what is the purpose of life</a><br>
	<img src="{% static 'images/ibo.jpg' %}" height="150px"><br>
	<p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p><br>
	<h1>{{ insert_me }}</h1>
	<p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p><br>
	<p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p><br>

	{% for word in word_list %}
	<div>
		<h1><a href="{% url 'dictionary:word_detail' pk=word.pk %}">{{ word.word }}</a></h1>
		<h1>YORESI: {{ word.yore }}</h1>
		<p>{{ word.meaning }}</p>
		<p>{{ word.date }}</p>--{{ word.pk }}
	</div>
	{% endfor %}
{% endblock %}